.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 100%;
  padding: 1rem 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
}

.App-body {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
